<nav style="display: flex; justify-content: space-between; align-items: center; padding: 1em; background-color: #b0b3c6; color: white; width: 100%; position: fixed; top: 0; left: 0; z-index: 1000;">
    <div class="logo" style="font-size: 1.5em;">
      <img src="/images/BitBox_logo1.png" alt="">
    </div>
    <div class="title" style="font-size: 1.2em;margin-right: 40px;color: black;">
      Admin Panel
    </div>
  </nav>
  