<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Admin</title>
    <link rel="stylesheet" href="/css/userManagement.css">
    <style>
        /* Pop-up form styles */
        .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        max-width: 600px;
        max-height: 80vh; /* Set maximum height to 80% of viewport height */
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1001;
        overflow-y: auto; /* Enable vertical scrolling */
    }

        .popup h2 {
            margin-top: 0;
        }

        .popup button.close {
            background-color: #ff0000;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 4px;
            float: right;
        }

        .popup button.close:hover {
            background-color: #cc0000;
        }
    </style>
</head>
<body>
    <nav style="display: flex; justify-content: space-between; align-items: center; padding: 1em; background-color: #b0b3c6; color: white; width: 100%; position: fixed; top: 0; left: 0; z-index: 1000;">
        <div class="logo" style="font-size: 1.5em;">
            <img src="/images/BitBox_logo1.png" alt="">
        </div>
        <div class="title" style="font-size: 1.2em; margin-left: 30%;font-weight: 600;color: black;">
            Bitbox Admin Panel
        </div>
     
            <form action="/api/auth/logout" method="POST" style="margin-right: 10px; background-color: #b0b3c6; border: none; align-items: end; justify-content: end; text-align: end; width: 0; margin-right: 100px;">
                <button type="submit" style="background-color: #ff0000; color: white; border: none; padding: 10px; font-size: 1em; cursor: pointer; border-radius: 4px; transition: background-color 0.3s ease;">Logout</button>
            </form>
       
    </nav>

    <br><br><br><br><br><br><br><br>

    <!-- Button to show add form popup -->
    <button onclick="showAddForm()" style="background-color: orange;width: 50%;margin-left: 25%; color: white; border: none; padding: 10px; font-size: 1em; cursor: pointer; border-radius: 4px;">Add Admin</button>

    <!-- Add Admin Form Popup -->
    <div id="addAdminPopup" class="popup">
        <button class="close" onclick="hideAddForm()">X</button>
        <h2>Add Admin</h2>
        <form id="addAdminForm" action="/api/userManagement/addadmin" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
        
            <label>Roles:</label><br>
            <input type="checkbox" id="roleUserManagement" name="roles" value="UserManagement" onchange="toggleUserManagementOptions(this)">
            <label for="roleUserManagement">User Management</label><br>

            <div id="userManagementOptions" style="display: none; margin-left: 20px;">
                <input type="checkbox" id="roleAddUser" name="roles" value="AddUser">
                <label for="roleAddUser">Add User</label><br>
            
                <input type="checkbox" id="roleUpdateUser" name="roles" value="UpdateUser">
                <label for="roleUpdateUser">Update User</label><br>
            </div>
        
            <input type="checkbox" id="roleWarrantyManagement" name="roles" value="WarrantyManagement" onchange="toggleWarrantyOptions(this)">
            <label for="roleWarrantyManagement">Warranty Management</label><br>
        
            <div id="warrantyOptions" style="display: none; margin-left: 20px;">
                <input type="checkbox" id="roleRegisterWarranty" name="roles" value="RegisterWarranty">
                <label for="roleRegisterWarranty">Register Warranty</label><br>
        
                <input type="checkbox" id="roleSingleVerification" name="roles" value="SingleVerification">
                <label for="roleSingleVerification">Single Verification</label><br>
        
                <input type="checkbox" id="roleBulkVerification" name="roles" value="BulkVerification">
                <label for="roleBulkVerification">Bulk Verification</label><br>
        
                <input type="checkbox" id="roleExpiringWarranties" name="roles" value="ExpiringWarranties">
                <label for="roleExpiringWarranties">Expiring Warranties</label><br>

                <input type="checkbox" id="roleSingleVerified" name="roles" value="SingleVerified">
                <label for="roleSingleVerified">Single Verified Warranties</label><br>

                <input type="checkbox" id="roleBulkVerified" name="roles" value="BulkVerified">
                <label for="roleBulkVerified">Bulk Verified Warranties</label><br>
            </div>

            <input type="checkbox" id="roleInventoryManagement" name="roles" value="InventoryManagement" onchange="toggleInventoryOptions(this)">
            <label for="roleInventoryManagement">Inventory Management</label><br>

            <div id="inventoryOptions" style="display: none; margin-left: 20px;">
                <input type="checkbox" id="roleViewInventory" name="roles" value="ViewInventory">
                <label for="roleViewInventory">View Inventory</label><br>

                <input type="checkbox" id="roleUpdateInventory" name="roles" value="UpdateInventory">
                <label for="roleUpdateInventory">Update Inventory</label><br>

                <input type="checkbox" id="roleAddInventory" name="roles" value="AddInventory">
                <label for="roleAddInventory">Add Inventory</label><br>

                <input type="checkbox" id="roleAddTester" name="roles" value="AddTester">
                <label for="roleTester">Add Tester</label><br>

                <input type="checkbox" id="roleDeleteInventory" name="roles" value="DeleteInventory">
                <label for="roleDeleteInventory">Delete Inventory</label><br>

                <input type="checkbox" id="roleAddDynamicField" name="roles" value="AddDynamicField">
                <label for="roleAddDynamicField">Add Dynamic Field</label><br>
            </div>

            <input type="checkbox" id="roleTicketSystem" name="roles" value="TicketSystem" onchange="toggleTicketOptions(this)">
            <label for="roleTicketSystem">Ticket System</label><br>

            <div id="ticketOptions" style="display: none; margin-left: 20px;">
                <input type="checkbox" id="roleAddStatus" name="roles" value="AddStatus">
                <label for="roleAddStatus">Add Status</label><br>
            
                <input type="checkbox" id="roleModifyStatus" name="roles" value="ModifyStatus">
                <label for="roleModifyStatus">Add Ticket</label><br>

                <input type="checkbox" id="roleAddTicket" name="roles" value="AddTicket">
                <label for="roleAddTicket">Modify Status</label><br>
            </div>

            <input type="checkbox" id="roleResellerManagement" name="roles" value="ResellerManagement" onchange="toggleResellerOptions(this)">
            <label for="roleResellerManagement">Reseller Management</label><br>

            <div id="resellerOptions" style="display: none; margin-left: 20px;">
                <input type="checkbox" id="roleAddReseller" name="roles" value="AddReseller">
                <label for="roleAddReseller">Add Reseller</label><br>

                <input type="checkbox" id="roleUpdateReseller" name="roles" value="UpdateReseller">
                <label for="roleUpdateReseller">Update Reseller</label><br>
            </div>

            <input type="checkbox" id="roleDriverManagement" name="roles" value="DriverManagement" onchange="toggleDriverOptions(this)">
            <label for="roleDriverManagement">Driver Management</label><br>

            <div id="driverOptions" style="display: none; margin-left: 20px;">
                <input type="checkbox" id="roleAddDriver" name="roles" value="AddDriver">
                <label for="roleAddDriver">Add Driver</label><br>
    
                <input type="checkbox" id="roleUpdateDriver" name="roles" value="UpdateDriver">
                <label for="roleUpdateDriver">Update Driver</label><br>
            </div>

            <input type="checkbox" id="roleEmailManagement" name="roles" value="EmailManagement">
            <label for="roleEmailManagement">Email Management</label><br>

            <button type="submit">Add Admin</button>
        </form>
    </div>

    <script>
        function showAddForm() {
            document.getElementById('addAdminPopup').style.display = 'block';
        }

        function hideAddForm() {
            document.getElementById('addAdminPopup').style.display = 'none';
        }
        function toggleUserManagementOptions(checkbox) {
        document.getElementById('userManagementOptions').style.display = checkbox.checked ? 'block' : 'none';
        }

        function toggleWarrantyOptions(checkbox) {
            document.getElementById('warrantyOptions').style.display = checkbox.checked ? 'block' : 'none';
        }

        function toggleInventoryOptions(checkbox) {
            document.getElementById('inventoryOptions').style.display = checkbox.checked ? 'block' : 'none';
        }

        function toggleDriverOptions(checkbox) {
            document.getElementById('driverOptions').style.display = checkbox.checked ? 'block' : 'none';
        }

        function toggleResellerOptions(checkbox) {
            document.getElementById('resellerOptions').style.display = checkbox.checked ? 'block' : 'none';
        }

        function toggleTicketOptions(checkbox) {
    document.getElementById('ticketOptions').style.display = checkbox.checked ? 'block' : 'none';
}
    </script>
</body>
</html>